node_modules/

/packages/ui/.next
build/
dist/
/packages/common/src/api/

static/
*.log

cdk.out/

*.tsbuildinfo
/packages/common-ui/src/types/*.js
/packages/ui-npm/src/**/*.js
*.orig
/packages/ui/public/feedback.js

.build/
docs/
