node_modules/
.eslintcache
.cache
cdk.out
/packages/scraper/dist/

/packages/ui/.next

dist/
/packages/infra/build
/packages/common/src/generated.ts
/packages/common/src/api


/packages/dashboard/public/
/packages/api/.env
/packages/ui-feedback/build/
*.tgz
/packages/api/src/api/
/packages/dashboard/.next

/packages/ui-cognito-auth/build/

.yarn/*
*yarn-error.log
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/packages/ui-cognito/build

/packages/dashboard/out

/packages/dashboard/static/**/*.js

/packages/ui/certs/localhost.crt
/packages/ui/certs/localhost.key

/packages/ui/public/cognito.js
